.site-footer {
	@extend %container;
  padding: 30px 10px;

  @include bp('small') {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
}

.site-footer__column {
  width: 50%;

  @include bp('medium') {
    width: (100% / 3);
  }
}
