form {
  label {
    display: block;
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
  }

  input,
  select,
  textarea {
    padding: 8px 10px;
    outline: none;
    font-size: inherit;
    border: 1px solid #ddd;
  }

  input[type="date"],
  input[type="time"],
  input[type="email"],
  input[type="tel"],
  input[type="text"],
  input[type="url"] {
    width: 100%;
  }


  input[type="number"] {

  }

  textarea {
    min-height: 150px;
  }

  select {
    appearance: none;
    border-radius: 0;
    background-color: #fff;
  }

  input[type="checkbox"],
  input[type="radio"] {
    font-size: 1.6rem;
  }

  input[type="file"] {
    font-size: 1.6rem;
  }

  fieldset {}

  legend {}

  ::placeholder {

  }

  .label--inline {
    display: inline-block;
    font-weight: 400;

    & + * {
      margin-left: 10px
    }
  }

}
