h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headerFont;
  font-weight: 600;
}

h1 {
  font-size: 36px;
	font-size: 3.6rem; //36px
}

h2 {
  font-size: 28px;
	font-size: 2.8rem; //28px
}

h3 {
  font-size: 24px;
	font-size: 2.4rem; //24px
}

h4 {
  font-size: 20px;
	font-size: 2rem; //20px
}

h5 {
  font-size: 18px;
	font-size: 1.8rem; //18px
}

h6 {
  font-size: 16px;
	font-size: 1.6rem; //16px
}

p {
  font-size: 16px;
	font-size: 1.6rem; //16px
  line-height: 1.7;
  margin-bottom: 15px;
}

ul, ol {
  font-size: 16px;
	font-size: 1.6rem; //16px
  padding-left: 15px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

b,
strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	transition: .3s all ease-in-out;
  text-decoration: none;
  color: color('link-default');

	&:visited {

	}

  &:active {

  }

	&:focus, &:hover {
    color: color('link-hover');
	}
}

small {
  font-size: 13px;
	font-size: 1.3rem; // 14px;
}
