// add colours here. Called in scss by doing color(primary).
$color: (
  'white': #fff,
  'black': #000,
  'dark-grey': #2e2e2e
);

// Media Queries
$sizes: (
  'max': 1368px
);

$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

// Fonts
$primaryFont: ('helvetica', 'sans-serif');
$headerFont: ('sans-serif');
